body
{
  font-family: 'Open-Sans', sans-serif;
  color: darkblue;
  background-color: ivory;
}
img
{
  float: left;
  margin-right: 10px;
  width: 100%;
}
h1, h2
{
  font-family: 'Oswald', sans-serif;
}
